# Archivos compilados de Maven
target/
*.class
*.jar
*.war

# Archivos de configuración de Entornos de Desarrollo (IDEs)
# - IntelliJ IDEA
.idea/
*.iml
*.iws
# - Eclipse
.project
.classpath
.settings/
# - VS Code
.vscode/

# Archivos del Sistema Operativo (Ocultos)
.DS_Store
Thumbs.db
